@*generic modal for add and edit*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModal-label"></h5>
            </div>
            <div class="modal-body" id="myModal-body"></div>
            <div class="modal-footer" id="myModal-footer">
                <button type="button" class="btn btn-xs btn-default popupBtns" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-xs btn-primary popupBtns" onclick="onPopupSubmit()">Save</button>
                <small><span id="popupResult" style="font-style:italic" class="pull-left"></span></small>
            </div>
        </div>
    </div>
</div>
