@using HrmsModel.Models;
@model GenericSubGroup

<form role="form" id="popupForm" asp-controller="Groups" asp-action="EditSubGroup" data-ajax="true" data-ajax-method="POST" data-ajax-update="#subGroupsSection" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
    <input type="hidden" asp-for="Id" />
    <div class="form-group-sm">
        <label class="control-label" asp-for="Name"><small>Name (*)</small></label>
        <input type="text" asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="OthName"><small>Name Translated (*)</small></label>
        <input type="text" asp-for="OthName" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="Description"><small>Description</small></label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="SortOrder"><small>Sort Order (*)</small></label>
        <input type="number" asp-for="SortOrder" class="form-control" required />
    </div>
</form>
    
