@using HrmsModel.Models;
@model IEnumerable<Shift>

<div class="container-fluid" style="padding:0px">
    <div>
        <span><label><small>Shifts List</small></label></span>
    </div>
    <br />
    <ul>
        @foreach(var item in Model)
        {
            <li><a href="#" onclick="shiftGroupsList(@item.Id)"><small>@item.Name</small></a></li>
        }
    </ul>
</div>