@using HrmsModel.Models;
@model IEnumerable<Candidate>

<div class="container-fluid" style="padding:0px">
    @{
        if (Model.Count() != 0)
        {
            <label><small>Candidates:</small></label>
            <ul class="list-unstyled">
                @foreach (var item in Model)
                {
                    <li><a href="#" onclick="getCandidate(@item.Id)"><small>@item.FirstName&nbsp;@item.FatherName&nbsp;@item.FamilyName</small></a></li>
                }
            </ul>
        }
    }    
</div>
    