<br />
<label><small>Headed By:</small></label>
<div>
    <span class="glyphicon glyphicon-user">&nbsp;wael</span>
</div>
<br />
<label><small>Direct Subordinates:</small></label>
<ul class="list-unstyled">
    <li><span class="glyphicon glyphicon-user">&nbsp;Architect: humam</span></li>
    <li><span class="glyphicon glyphicon-user">&nbsp;Analyst: mouin</span></li>
    <li><span class="glyphicon glyphicon-user">&nbsp;Developer: Gabi</span></li>
</ul>