@model List<string>

<br />
<label><small>Headed By:</small></label>
<div>
    <span class="glyphicon glyphicon-user" style="color:silver"></span>&nbsp;<small>@ViewBag.headedBy</small>
</div>
<br />
<div>
    <label><small>Subordinates:&nbsp;<span class="badge alert-info">@Model.Count()</span>&nbsp;Direct&nbsp;<span class="badge alert-info">@ViewBag.indirectSubordinates</span>&nbsp;Indirect</small></label>
</div>
<ul class="list-unstyled">
    @foreach (string item in Model)
    {
        <li><span class="glyphicon glyphicon-user" style="color:silver"></span>&nbsp;<small>@item</small></li>
    }
</ul>