@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label><small>Dictionary</small></label>
            <ul class="list-unstyled">
                <li><a href="javascript:getDictionary('OrgUnitType');"><small>Organization Unit Types</small></a></li>
                <li><a href="javascript:getDictionary('EmploymentType');"><small>Employment Types</small></a></li>
                <li><a href="javascript:getDictionary('StandardTitleType');"><small>Standard Titles</small></a></li>
                <li><a href="javascript:getDictionary('LeaveType');"><small>Leave Types</small></a></li>
                <li><a href="javascript:getDictionary('AllowanceType');"><small>Allowance Types</small></a></li>
                <li><a href="javascript:getDictionary('CompetencyAreaType');"><small>Competency Areas</small></a></li>
                <li><a href="javascript:getDictionary('SalaryScaleType');"><small>Salary Scale Types</small></a></li>
                <li><a href="javascript:getDictionary('DocumentType');"><small>Employee Document Types</small></a></li>
                <li><a href="javascript:getDictionary('FamilyMemberType');"><small>Employee Family Member Types</small></a></li>
                <li><a href="javascript:getDictionary('QualificationType');"><small>Employee Qualification Types</small></a></li>
                <li><a href="javascript:getDictionary('LanguageType');"><small>Employee Language Types</small></a></li>
                <li><a href="javascript:getDictionary('PromotionType');"><small>Employee Promotion Types</small></a></li>
                <li><a href="javascript:getDictionary('Nationality');"><small>Employee Nationalities List</small></a></li>
                <li><a href="javascript:getDictionary('Governorate');"><small>Governorates List</small></a></li>
            </ul>
            <hr />
            
        </div>
        <div class="col-sm-9" id="listSection"></div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    <script>
        $(document).on('ready', function () {

        });

        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }

        function getDictionary(typeName) {
            $.ajax({
                url: '@Url.Action("Dictionary", "Admin")',
                type: 'GET',
                data: { typeName: typeName },
                success: function (result) {
                    $('#listSection').html(result);
                }
            });
        }
    </script>    
}