@using HrmsModel.Models;
@model JobGrade

<form role="form" id="popupForm" asp-controller="Governance" asp-action="AddJobGrade" data-ajax="true" data-ajax-method="POST" data-ajax-update="#listSection" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
    <div class="form-group-sm">
        <label class="control-label" asp-for="GradeGroupId"><small>Grade Group (*)</small></label>
        <select class="form-control" asp-for="GradeGroupId" required>
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.gradeGroupsList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="Name"><small>Name (*)</small></label>
        <input type="text" asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="OthName"><small>Name Translated (*)</small></label>
        <input type="text" asp-for="OthName" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="SalaryIncrPctg"><small>Increment % from Salary of Previous Grade (*)</small></label>
        <input type="number" asp-for="SalaryIncrPctg" class="form-control" required />
    </div>
</form>
