@using HrmsModel.Models;
@model CompetencySubCategory

<form role="form" id="popupForm" asp-controller="Governance" asp-action="AddCompetencySubCategory" data-ajax="true" data-ajax-method="POST" data-ajax-update="#listSection" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
    <div class="form-group-sm">
        <label class="control-label" asp-for="CompetencyCategoryId"><small>Parent Competency Category (*)</small></label>
        <select class="form-control" asp-for="CompetencyCategoryId" required>
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.competencyCategoriesList, "Id", "Name"))
                {
                <option value="@item.Value">@item.Text</option>
                }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="Name"><small>Name (*)</small></label>
        <input type="text" asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="OthName"><small>Name Translated (*)</small></label>
        <input type="text" asp-for="OthName" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="SortOrder"><small>Sort Order (*)</small></label>
        <input type="number" asp-for="SortOrder" class="form-control" required />
    </div>
</form>
