@using HrmsModel.Models;
@model PayrollAddition

<form role="form" id="popupForm" asp-controller="Payrolls" asp-action="AddPayrollAddition" data-ajax="true" data-ajax-method="POST" data-ajax-update="#additionsSection" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
    <input type="hidden" asp-for="PayrollId" id="payrollId" />
    <div class="form-group-sm">
        <label class="control-label" asp-for="GradeGroupId"><small>Grade Group (*)</small></label>
        <select class="form-control" asp-for="GradeGroupId" required>
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.gradeGroupsList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="PayrollComponentTypeId"><small>Payroll Component (*)</small></label>
        <select class="form-control" asp-for="PayrollComponentTypeId" required>
            <option value="">Select from List ...</option>
            @foreach (SelectListItem item in new SelectList(ViewBag.payrollComponentTypesList, "Id", "Name"))
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="FactorPercent"><small>Factor% (*)</small></label>
        <input type="number" asp-for="FactorPercent" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="Narration"><small>Narration</small></label>
        <input type="text" asp-for="Narration" class="form-control fullwidth" />
    </div>
</form>
