@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselSection"></div>
<div class="row">
    <br />
    <div class="col-sm-2" style="text-align:center">
        <div class="panel panel-default">
            <div class="panel-heading"><label><small>Library</small></label></div>
            <div class="panel-body">
                <div><a href="#"><small>Workers Bylaw</small></a></div>
                <div><a href="#"><small>Code of Conduct</small></a></div>
                <div><a href="#"><small>Safety Policy</small></a></div>
                <br />
                <div><a href="#"><small>Read More ...</small></a></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><label><small>Happy Birthday</small></label></div>
            <div class="panel-body">
                Bruce Willis
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><label><small>Farewell</small></label></div>
            <div class="panel-body">
                Salman Salem
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><label><small>Congradulations</small></label></div>
            <div class="panel-body">
                New Born, New Diploma, Promotion
            </div>
        </div>
    </div>
    <div class="col-sm-7" id="welcomeSection"></div>
    <div class="col-sm-3">
        <div class="btn-group-lg">
            <a href="/Home/AddLeaveRequest" class="btn btn-lg" title="Leave Request"><span class="fa fa-calendar" style="color:dodgerblue;font-size:48px"></span></a>
            <a href="/Home/EditContacts" class="btn btn-lg" title="Update Contacts"><span class="fa fa-mobile-phone" style="color:palevioletred;font-size:48px"></span></a>
            <a href="#" class="btn btn-lg" title="Transportation Request"><span class="fa fa-car" style="color:forestgreen;font-size:48px"></span></a>
        </div>
        <br />
        <div id="holidaysSection"></div>
        <div id="leaveSection"></div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).on('ready', function () {
            $.ajax({
                url: '@Url.Action("Carousel", "Home")',
                type: 'GET',
                success: function (result) {
                    $('#carouselSection').html(result);
                    $('#my-carousel').carousel();
                }
            });
            $.ajax({
                url: '@Url.Action("HolidaysList", "Home")',
                type: 'GET',
                success: function (result) {
                    $('#holidaysSection').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("LeaveList", "Home")',
                type: 'GET',
                success: function (result) {
                    $('#leaveSection').html(result);
                }
            });
            $.ajax({
                url: '@Url.Action("Welcome", "Home")',
                type: 'GET',
                success: function (result) {
                    $('#welcomeSection').html(result);
                }
            });
        })
    </script>
}
