@using HrmsModel.Models;
@model OrgUnit

<form role="form" id="popupForm" asp-controller="Organization" asp-action="AddOrgUnit" data-ajax="true" data-ajax-method="POST" data-ajax-update="#listSection" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
    <input type="hidden" id="parentId" name="parentId" />
    <input type="hidden" id="parentName" value="@ViewBag.parentName" />
    <div class="form-group-sm">
        <label class="control-label" asp-for="Name"><small>Name (*)</small></label>
        <input type="text" asp-for="Name" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="OthName"><small>Name Translated (*)</small></label>
        <input type="text" asp-for="OthName" class="form-control" required />
    </div>
    <input type="hidden" asp-for="OrgUnitTypeId" value="@ViewBag.orgUnitTypeId" />
    <div class="form-group-sm">
        <label class="control-label" asp-for="SortOrder"><small>Sort Order (*)</small></label>
        <input type="number" asp-for="SortOrder" class="form-control" required />
    </div>
    <br />
    <div class="form-group-sm">
        <label class="control-label" asp-for="PositionName"><small>Position Name (*)</small></label>
        <input type="text" asp-for="PositionName" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="OthPositionName"><small>Position Name Translated (*)</small></label>
        <input type="text" asp-for="OthPositionName" class="form-control" required />
    </div>
    <div class="form-group-sm">
        <label class="control-label" asp-for="Capacity"><small>Planned Capacity (*)</small></label>
        <input type="number" asp-for="Capacity" class="form-control" required />
    </div>
</form>
    
