@using HrmsModel.Models;
@model IEnumerable<Position>

<div class="container-fluid">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><small>Position</small></th>
                <th><small>Capacity</small></th>
                <th><small>Staff</small></th>
                <th><small>Vacancy</small></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td><small>@item.Name</small></td>
                    <td><small>@item.Capacity</small></td>
                    <td><small>@item.Employments.Where(b => b.IsActive).Count()</small></td>
                    <td><small>@item.TotalVacant</small></td>
                </tr>
            }
        </tbody>
    </table>
</div>
