@{
    ViewData["Title"] = "Org Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div id="listSection"></div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("_PopupForm"); }
    <script>
        $(document).on('ready', function () {
            $.ajax({
                url: '@Url.Action("OrgChart", "Organization")',
                type: 'GET',
                success: function (result) {
                    $('#listSection').html(result);
                    $('#goUp').attr('disabled', 'disabled');
                }
            });
        });

        function showPopup() {
            $('#popupResult').html(null).text(null);
            $('.popupBtns').removeAttr('disabled');
        }
        function onPopupSubmit() {
            $('#popupForm').submit();
        }
        function onSuccess() {
            $('#popupResult').html('Successfully Updated.');
            $('.popupBtns').attr('disabled', 'disabled');
        }
        function onFailure() {
            $('#formResult').html('Failed to Update! Please Correct All Errors.');
            $('.popupBtns').removeAttr('disabled');
        }

        function addOrgUnit(isSub) {
            alert($('#currOrgUnitIdHF').val());
            $.ajax({
                url: '@Url.Action("AddOrgUnit", "Organization")',
                type: 'GET',
                data: { parentId: $('#currOrgUnitIdHF').val(), isSub: isSub },
                success: function (result) {
                    $('#myModal-body').html(result);
                    $('#myModal-label').html("Add Organization Unit - Subordinate of: " + $('#currOrgUnitNameHF').val());
                    $('#parentId').val($('#currOrgUnitIdHF').val());
                    showPopup();
                }
            });
        }
    </script>    
}