@using  HrmsModel.Models
@model IEnumerable<Shift>

<div class="container-fluid" style="padding:0px">
    <label style="color:silver;font-size:small">Shifts</label>
    <div><a href="#" onclick="addShift(@ViewBag.calendarId)" data-toggle="modal" data-target="#myModal"><small>Add New Shift ...</small></a></div>
    <br />
    <ul style="font-size:small;padding:0px">
        @foreach(var item in Model)
        {
            <li><a href="#" onclick="rotationsList(@item.Id, '@item.Name')">@item.Name</a></li>
        }
    </ul>
</div>
